body {
   min-width: 60.3rem;
   font-family: Arial, sans-serif;
   color: rgba(0, 0, 0, 0.8);
}

nav {
    display: flex;
    font-size: 0.8rem;
    padding: 1rem 1rem;
    align-items: center;
}

.navlink {
    padding: 0 1em;
}

.navlink a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
}

.navlink a:hover {
    text-decoration: underline;
}

.navlink img {
    height: 1.3em;
    width: 1.3em;
    opacity: 0.6;
}

.navlink img:hover {
    opacity: 1;
}

i {
    color: rgba(0, 0, 0, 0.8);
}

i:hover {
    color: black;
}

.navlink a:link, #apps-selector:link {
    color: rgba(0, 0, 0, 0.8);
}

#gmail {
    margin-left: auto;
}

#sign-in {
    background-color: #4583ED;
    padding: 0.7em 0.9em;
    border-radius: 0.2em;
    margin-left: 0.9em;
}

#sign-in h3 {
    color: white;
    font-weight: bold;
}

.main-area {
    display: flex;
    justify-content: center;
}

#main-logo {
    margin: 8.5rem 0 1.8rem;
}

#search-bar-container {
    width: 27em;
    margin: 0 auto;
    border: solid 1px rgba(0,0,0,0.14);
    padding: 0.5em 1.6em;
    border-radius: 2em;
}

#search-bar-container input {
    border-style: hidden;
    outline: none;
    width: 100%;
    font-size: 1em;
}

.search-bar-icon {
    object-fit: contain;
}

#magnifying-glass {
    margin: 0 1em 0 -0.7em;
}

#voice-search {
    margin-right: -0.4em;
}

#search-bar-buttons-container {
    padding-top: 2em;
}

.search-button {
    margin: 0 0.5em;
    padding: 0.7em 1em;
    background-color: #f1f1f1;
    border: solid 1px #f1f1f1;
    border-radius: 2px;
    color: rgba(0,0,0,0.7);
    font-size: 0.88em;
}

.search-button:hover {
    border-color: #c6c6c6;
    color: black;
    cursor: pointer;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    height: 2.5em;
    background-color: #f2f2f2;
    border-top: 2px solid #e4e4e4;
    align-items: center;
    margin-right: 1em;
}

.footer-link h2{
    padding: 1em 1em;
}

.footer-link a {
    color: rgba(0,0,0,0.6);
    text-decoration: none;
    font-size: 0.9em;
}

.footer-link a:hover {
    text-decoration: underline;
}
7.5
#settings h2 {
    padding-right: 2em;
}